.chapters {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
}

ChapterTable {
    border: 2rem;
}