.welcome-page {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.home-title {
    padding-top: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
}